streamlit
langchain
langchainhub
langchain-community
langchain-google-genai>=2.0.0
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
duckduckgo-search
python-dotenv
pysqlite3-binary
sentence-transformers